<div class="container-fluid fixed-top px-0">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img
          src="assets/imgs/SKMarket.png"
          width="100"
          height="24"
          class="d-inline-block align-text-top"
        />
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="index.php">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="shop.php">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blog.php">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.php">Contact Us</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-primary position-relative"
              href="cart.php"
            >
              <img
                src="assets/icons/shopping-bag.png"
                alt="Bag Icon"
                class="img-fluid"
                style="height: 24px"
              />
              <span
                class="position-absolute top-1 start-90 translate-middle badge rounded-pill bg-none text-danger"
              >
                99+
                <span class="visually-hidden">unread messages</span>
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-primary hover:text-danger"
              href="login.php"
            >
              <img
                src="assets/icons/user.png"
                alt="User Icon"
                class="img-fluid"
                style="height: 24px"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
